In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('ggplot')

### First task: Convert raw data into dataframes:
1. Sales, etc. by inventory_id
2. Aggregate sales, etc. by data

In [2]:
path = '../data/lemon_haze_18.csv'
test_path = '../data/test_shard.csv'

In [ ]:
df_raw = pd.read_csv(path, parse_dates=[2, 3])
df_raw.head()

In [ ]:
df_raw.info()

In [ ]:
by_inv_id = df_raw.copy()

In [ ]:
by_inv_id['days_inventory'] = by_inv_id['latest_rtl_sale'] - by_inv_id['wholesale_date']

In [ ]:
by_inv_id['gross_profit'] = by_inv_id['ttl_retail_sales'] - by_inv_id['wholesale_cogs']

In [ ]:
by_inv_id.info()

In [ ]:
q = by_inv_id.loc[0, 'days_inventory']

In [ ]:
by_inv_id['avg_daily_sales'] = \
by_inv_id['ttl_retail_sales'] / by_inv_id['days_inventory'].apply(lambda x: float(x.days))

In [ ]:
by_inv_id['avg_daily_gross'] = \
by_inv_id['gross_profit'] / by_inv_id['days_inventory'].apply(lambda x: float(x.days))

In [ ]:
by_inv_id.head()

In [ ]:
cols = [
    'wa_inventory_id',
    'generic_strain_id',
    'wholesale_date',
    'latest_rtl_sale',
    'days_inventory',
    'wholesale_cogs',
    'ttl_retail_sales',
    'gross_profit',
    'avg_daily_sales',
    'avg_daily_gross',
    'units_sold'
]

In [ ]:
by_inv_id = by_inv_id[cols]

In [ ]:
by_inv_id.head()

In [ ]:
def convert_to_by_inventory_id_sales(df):
    """Convert raw strain df to output sales by inventory_id df
    INPUT RAW DF:
        Data columns (total 7 columns):
        wa_inventory_id      2565 non-null int64
        generic_strain_id    2565 non-null int64
        wholesale_date       2563 non-null datetime64[ns]
        latest_rtl_sale      2514 non-null datetime64[ns]
        wholesale_cogs       2565 non-null float64
        ttl_retail_sales     2514 non-null float64
        units_sold           2514 non-null float64
    """

In [ ]:
shard = by_inv_id[:5][['wa_inventory_id', 'wholesale_date', 'latest_rtl_sale', 'avg_daily_sales', 'avg_daily_gross']]

In [ ]:
shard

In [ ]:
# This is our index
q_range = pd.date_range(shard['wholesale_date'].min(), shard['latest_rtl_sale'].max())

In [ ]:
q_piv = pd.DataFrame(0, index=q_range, columns=shard['wa_inventory_id'])

In [ ]:
q_piv.head()
# From here, it's a boolean: index date in the date range embedded in column inventory_id?

In [ ]:
# Making the first factor: a boolean dataframe indexed by each date in overall range
# boolean being whether the date index is found in the date_range when the inventory_id
# was in retail inventory

matrix_list = []
for date in q_range.strftime('%Y-%m-%d'):
    date_bool = []
    for record in shard.iterrows():
        date_bool.append(date in pd.date_range(record[1][1], record[1][2]))
    matrix_list.append(date_bool)


shard_bool = pd.DataFrame(matrix_list, index=q_range, columns=shard['wa_inventory_id'])

In [ ]:
# Making the second factor: the vector of daily average sales per inventory_id
sales = shard[['avg_daily_sales', 'avg_daily_gross']].values.reshape(len(shard['avg_daily_sales']), 2)

In [ ]:
shard_bool.shape, sales.shape

In [ ]:
ttl_sales_n_profit = shard_bool.dot(sales) # ugly, but done. Could add the gross profit column

In [ ]:
ttl_sales_n_profit.columns = ['ttl_sales', 'ttl_gross']

In [ ]:
ttl_sales_n_profit.head(15)

In [ ]:
import os
import sys

In [7]:
from convert_to_time_series import TimeSeriesData

In [8]:
lemon_haze = TimeSeriesData(test_path)

In [9]:
lemon_haze.construct()

In [10]:
ts = lemon_haze.time_series
raw = lemon_haze.raw_df
inv = lemon_haze.by_inv_id

In [17]:
ts.describe()

         ttl_sales  ttl_gross_profit
count   504.000000        504.000000
mean    567.260738        377.614660
std    1164.743274        805.932737
min       1.770833          1.008929
25%      22.082567         12.398938
50%     354.418997        219.468618
75%     495.694243        315.480473
max    9964.563845       6744.314410

In [12]:
raw.head()

,wa_inventory_id,generic_strain_id,wholesale_date,latest_rtl_sale,wholesale_cogs,ttl_retail_sales,units_sold
0,6033240110000277,18,2014-07-17,2014-09-19,2700.0,7740.50,150
1,6033240110000284,18,2014-07-19,2014-08-07,1200.0,4436.00,100
2,6033240110000316,18,2014-07-30,2014-08-03,1760.0,5501.87,100
3,6033240110000314,18,2014-07-30,2014-08-08,1760.0,5313.60,96
4,6033240110000315,18,2014-07-30,2014-08-04,1760.0,5535.00,100

In [13]:
inv.head()

,wa_inventory_id,generic_strain_id,wholesale_date,latest_rtl_sale,days_inventory,wholesale_cogs,ttl_retail_sales,gross_profit,avg_daily_sales,avg_daily_gross,units_sold
0,6033240110000277,18,2014-07-17,2014-09-19,64 days,2700.0,7740.50,5040.50,120.945312,78.757812,150
1,6033240110000284,18,2014-07-19,2014-08-07,19 days,1200.0,4436.00,3236.00,233.473684,170.315789,100
2,6033240110000316,18,2014-07-30,2014-08-03,4 days,1760.0,5501.87,3741.87,1375.467500,935.467500,100
3,6033240110000314,18,2014-07-30,2014-08-08,9 days,1760.0,5313.60,3553.60,590.400000,394.844444,96
4,6033240110000315,18,2014-07-30,2014-08-04,5 days,1760.0,5535.00,3775.00,1107.000000,755.000000,100

In [34]:
rows = np.array([3,3,3,3,3])
lowers = np.array([1,4,3])
uppers = np.array([4,3,5])

In [35]:
y, z = np.meshgrid(cols, rows)

In [36]:
thing_one = y >= z
thing_two = y <= z

In [37]:
thing_one, thing_two

(array([[False,  True,  True],
        [False,  True,  True],
        [False,  True,  True],
        [False,  True,  True],
        [False,  True,  True]], dtype=bool), array([[ True, False,  True],
        [ True, False,  True],
        [ True, False,  True],
        [ True, False,  True],
        [ True, False,  True]], dtype=bool))

In [38]:
final = thing_one * thing_two

In [39]:
final

array([[False, False,  True],
       [False, False,  True],
       [False, False,  True],
       [False, False,  True],
       [False, False,  True]], dtype=bool)

In [40]:
wer = raw['wholesale_date'].as_matrix()

In [41]:
wer

array(['2014-07-17T00:00:00.000000000', '2014-07-19T00:00:00.000000000',
       '2014-07-30T00:00:00.000000000', '2014-07-30T00:00:00.000000000',
       '2014-07-30T00:00:00.000000000', '2014-07-30T00:00:00.000000000',
       '2014-07-30T00:00:00.000000000', '2014-07-31T00:00:00.000000000',
       '2014-07-31T00:00:00.000000000', '2014-07-31T00:00:00.000000000',
       '2014-07-31T00:00:00.000000000', '2014-07-31T00:00:00.000000000',
       '2014-07-31T00:00:00.000000000', '2014-08-16T00:00:00.000000000',
       '2014-08-16T00:00:00.000000000', '2014-08-16T00:00:00.000000000',
       '2014-08-16T00:00:00.000000000', '2014-08-16T00:00:00.000000000',
       '2014-08-16T00:00:00.000000000', '2014-08-22T00:00:00.000000000',
       '2014-08-29T00:00:00.000000000', '2014-08-30T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-04T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-04T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-04T00:00:00.000000000',
       '2014-09-08T00:00:00.000000000', '2014-09-08T00:00:00.000000000',
       '2014-09-09T00:00:00.000000000', '2014-09-09T00:00:00.000000000',
       '2014-09-09T00:00:00.000000000', '2014-09-09T00:00:00.000000000',
       '2014-09-09T00:00:00.000000000', '2014-09-09T00:00:00.000000000',
       '2014-09-09T00:00:00.000000000', '2014-09-09T00:00:00.000000000',
       '2014-09-09T00:00:00.000000000', '2014-09-09T00:00:00.000000000',
       '2014-09-09T00:00:00.000000000', '2014-09-09T00:00:00.000000000',
       '2014-09-24T00:00:00.000000000', '2014-09-25T00:00:00.000000000',
       '2014-09-25T00:00:00.000000000', '2014-10-02T00:00:00.000000000',
       '2014-10-02T00:00:00.000000000', '2014-10-02T00:00:00.000000000',
       '2014-10-02T00:00:00.000000000', '2014-10-02T00:00:00.000000000',
       '2014-10-02T00:00:00.000000000', '2014-10-02T00:00:00.000000000',
       '2014-10-08T00:00:00.000000000', '2014-10-08T00:00:00.000000000',
       '2014-10-21T00:00:00.000000000', '2014-10-28T00:00:00.000000000',
       '2014-10-28T00:00:00.000000000', '2014-10-28T00:00:00.000000000',
       '2014-10-28T00:00:00.000000000', '2014-10-28T00:00:00.000000000',
       '2014-10-28T00:00:00.000000000', '2014-10-28T00:00:00.000000000',
       '2014-10-28T00:00:00.000000000', '2014-10-28T00:00:00.000000000',
       '2014-10-28T00:00:00.000000000', '2014-10-28T00:00:00.000000000',
       '2014-10-28T00:00:00.000000000', '2014-10-30T00:00:00.000000000',
       '2014-11-11T00:00:00.000000000', '2014-11-13T00:00:00.000000000',
       '2014-11-13T00:00:00.000000000', '2014-11-13T00:00:00.000000000',
       '2014-11-13T00:00:00.000000000', '2014-11-21T00:00:00.000000000',
       '2014-11-21T00:00:00.000000000', '2014-11-21T00:00:00.000000000',
       '2014-11-21T00:00:00.000000000', '2014-11-21T00:00:00.000000000',
       '2014-11-22T00:00:00.000000000', '2014-11-22T00:00:00.000000000',
       '2014-12-19T00:00:00.000000000', '2014-12-19T00:00:00.000000000',
       '2014-12-25T00:00:00.000000000', '2014-12-29T00:00:00.000000000',
       '2014-12-29T00:00:00.000000000', '2014-12-31T00:00:00.000000000',
       '2015-01-08T00:00:00.000000000', '2015-01-18T00:00:00.000000000',
       '2015-01-18T00:00:00.000000000', '2015-01-18T00:00:00.000000000',
       '2015-01-18T00:00:00.000000000', '2015-01-18T00:00:00.000000000',
       '2015-01-18T00:00:00.000000000', '2015-01-21T00:00:00.000000000',
       '2015-01-21T00:00:00.000000000', '2015-01-22T00:00:00.000000000',
       '2015-01-22T00:00:00.000000000', '2015-01-22T00:00:00.000000000',
       '2015-01-22T00:00:00.000000000', '2015-01-22T00:00:00.000000000',
       '2015-01-22T00:00:00.000000000', '2015-01-22T00:00:00.000000000',
       '2015-01-22T00:00:00.000000000', '2015-01-22T00:00:00.000000000',
       '2015-01-25T00:00:00.000000000', '2015-02-01T00:00:00.000000000',
       '2015-02-01T00:00:00.000000000', '2015-02-04T00:00:00.000000000',
       '2015-02-19T00:00:00.000000000', '2015-03-03T00:00:00.000000000',
       '2015-03-06T00:00:00.000000000', '2015-03-06T00:00:00.000000000',
       '2015-03-11T00:00:00.000000000', '2015-03-11T00:00:00.000000000',
       '2015-03-11T00:00:00.000000000', '2015-03-12T00:00:00.000000000',
       '2015-03-25T00:00:00.000000000', '2015-04-02T00:00:00.000000000',
       '2015-04-06T00:00:00.000000000', '2015-04-06T00:00:00.000000000',
       '2015-04-06T00:00:00.000000000', '2015-04-09T00:00:00.000000000',
       '2015-04-09T00:00:00.000000000', '2015-04-09T00:00:00.000000000',
       '2015-04-10T00:00:00.000000000', '2015-04-10T00:00:00.000000000',
       '2015-04-13T00:00:00.000000000', '2015-04-13T00:00:00.000000000',
       '2015-04-13T00:00:00.000000000', '2015-04-13T00:00:00.000000000',
       '2015-04-15T00:00:00.000000000', '2015-04-15T00:00:00.000000000',
       '2015-04-15T00:00:00.000000000', '2015-04-15T00:00:00.000000000',
       '2015-04-15T00:00:00.000000000', '2015-04-15T00:00:00.000000000',
       '2015-04-20T00:00:00.000000000', '2015-04-20T00:00:00.000000000',
       '2015-04-22T00:00:00.000000000', '2015-04-23T00:00:00.000000000',
       '2015-04-23T00:00:00.000000000', '2015-04-23T00:00:00.000000000',
       '2015-04-28T00:00:00.000000000', '2015-04-28T00:00:00.000000000',
       '2015-04-29T00:00:00.000000000', '2015-05-06T00:00:00.000000000',
       '2015-05-06T00:00:00.000000000', '2015-05-08T00:00:00.000000000',
       '2015-05-08T00:00:00.000000000', '2015-05-08T00:00:00.000000000',
       '2015-05-08T00:00:00.000000000', '2015-05-08T00:00:00.000000000',
       '2015-05-08T00:00:00.000000000', '2015-05-11T00:00:00.000000000',
       '2015-05-11T00:00:00.000000000', '2015-05-11T00:00:00.000000000',
       '2015-05-13T00:00:00.000000000', '2015-05-14T00:00:00.000000000',
       '2015-05-15T00:00:00.000000000', '2015-05-15T00:00:00.000000000',
       '2015-05-15T00:00:00.000000000', '2015-05-15T00:00:00.000000000',
       '2015-05-17T00:00:00.000000000', '2015-05-17T00:00:00.000000000',
       '2015-05-20T00:00:00.000000000', '2015-05-20T00:00:00.000000000',
       '2015-05-20T00:00:00.000000000', '2015-05-20T00:00:00.000000000',
       '2015-05-22T00:00:00.000000000', '2015-05-22T00:00:00.000000000',
       '2015-05-22T00:00:00.000000000', '2015-05-22T00:00:00.000000000'], dtype='datetime64[ns]')